<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current creators ({{creators.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="table-secondary">
      <tr>
        <th scope="col">LastName</th>
        <th scope="col">Forename</th>
        <th scope="col">From</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="creators.length === 0">
      <tr>
        <td colspan="4">There are no creators in the DB. Add a new creator below.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let creator of creators">
        <td>{{creator.lastName}}</td>
        <td>{{creator.foreName}}</td>
        <td>{{creator.origin}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="enableEditing(creator)">
            <i class="fa fa-pencil"></i> Edit
          </button>
          <button class="btn btn-sm btn-danger ms-1" (click)="deleteCreator(creator)">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing">
      <tr>
        <td colspan="4">
          <form #form="ngForm" (ngSubmit)="editCreator(creator)">
            <div class="row row-cols-1 row-cols-sm-auto g-2">
              <div class="col">
                <input class="form-control" type="text" name="lastName" [(ngModel)]="creator.lastName" placeholder="Lastname"
                       required>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="foreName" [(ngModel)]="creator.foreName" placeholder="Forename"
                       required>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="origin" [(ngModel)]="creator.origin" placeholder="From"
                       required>
              </div>
              <div class="col d-flex align-items-center">
                <button class="btn btn-sm btn-primary me-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save
                </button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <app-add-creator *ngIf="!isEditing" [creators]="creators"></app-add-creator>
  </div>
</div>

