<div class="card">
  <h4 class="card-header">Add new Creator</h4>
  <div class="card-body">
    <form [formGroup]="addCreatorForm" (ngSubmit)="addCreator()">
      <div class="row row-cols-1 row-cols-sm-auto g-2">
        <div class="col">
          <input class="form-control" type="text" name="lastName"
                 formControlName="lastName" placeholder="Lastname">
        </div>
        <div class="col">
          <input class="form-control" type="text" name="foreName"
                 formControlName="foreName" placeholder="Forename">
        </div>
        <div class="col">
          <input class="form-control" type="text" name="origin"
                 formControlName="origin" placeholder="origin">
        </div>
        <div class="col">
          <button class="btn btn-primary" type="submit" [disabled]="!addCreatorForm.valid">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

