<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Posts ({{posts.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="table-secondary">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">upVote</th>
        <th scope="col">downVote</th>
        <th scope="col">Suggestion</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="posts.length === 0">
      <tr>
        <td colspan="4">There are no posts in the DB. Add a new post below.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let post of posts">
        <td>{{post.title}}</td>
        <td>{{post.text}}</td>
        <td>{{post.upVotes ?? 0}}</td>
        <td>{{post.downVotes ?? 0}}</td>
        <td>{{post.book?.title}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="enableEditing(post)">
            <i class="fa fa-pencil"></i> Edit
          </button>
          <button class="btn btn-sm btn-danger ms-1" (click)="deletePost(post)">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing">
      <tr>
        <td colspan="4">
          <form #form="ngForm" (ngSubmit)="editPost(post)">
            <div class="row row-cols-1 row-cols-sm-auto g-2">
              <div class="col">
                <input class="form-control" type="text" name="title" [(ngModel)]="post.title" placeholder="Title"
                       required>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="foreName" [(ngModel)]="post.text" placeholder="Text"
                       required>
              </div>
              <div class="col d-flex align-items-center">
                <button class="btn btn-sm btn-primary me-2" type="submit" [disabled]="!form.form.valid">
                  <i class="fa fa-floppy-o"></i> Save
                </button>
                <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                  <i class="fa fa-times"></i> Cancel
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <app-add-post *ngIf="!isEditing" [posts]="posts"></app-add-post>
  </div>
</div>


